body {
    background-color: rgb(47, 238, 250);

    display: flex;

    justify-content: center;

    align-items: center;

    /*background-size: cover;*/
}


/*.box {
    width:500px;
    
    position: center;
    background-color: white;
}*/

.title {
    font-size: 500%;
    text-align: center;
    letter-spacing: 3x;
}

.sectitle {
    font-size: 300%;
    text-align: center;
    letter-spacing: 3x;
}