<!DOCTYPE html>
<html lang = "en">
    <body>
        <link rel = "stylesheet" href = "delete-acct.css">
        <ul>
            <form>
                <label class = "title">
                    <br> <br> So long partner :( <br> Enter username to confirm your intention.
                </label>
                <p>
        
                </p>
                <p>
        
                </p>
                <form method = "post" action = "/delete-account">
                    <input type = "submit" value = "Delete Account" class = "enter">
                </form>

                <p>

                </p>
                <form method = "post" action = "/returnLogin">
                    <input type = "submit" value = "Go back to login page" class = "enter">
                </form>
            </form>
        </ul>
    
    </body>
</html>