<!DOCTYPE html>
<html lang = "en">
    <body>
        <link rel = "stylesheet" href = "delete-acct.css">
        <ul>
            <form>
                <label class = "title">
                    <br> <br> Success! Your Account <br> Has Been Deleted
                </label>
                <p>
        
                </p>
                <p>
        
                </p>
                <form method = "post" action = "/returnLogin">
                    <input type = "submit" value = " Return to Login Page" class = "enter">
                </form>
            </form>
        </ul>
    
    </body>
</html>
