<!DOCTYPE html>

<body>
    <link rel = "stylesheet" href = "homepage-styles.css">
    <ul>
        <li>
            <label class = "title"> Homepage <br> </label>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
            <ul>
                <li>
                    <form method = "post" action = "NewFitnessInfo(HP)">
                        <input type = "submit" value  = "New Fitness Info" class = "green">
                    </form>
                    
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
                    <form method = "post" action = "/PastFitnessInfo">
                        <input type = "submit" value = "Past Fitness Info" class = "blue">
                    </form>
                    
                </li>
                <p>

                </p>
                <p>

                </p>
        
                <li>
                    <form method = "post" action = "/DeleteAcntPg">
                        <input type = "submit" value = "Delete Account" class = "red">
                    </form>
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
<<<<<<< HEAD
                    <form method = "post" action = "/logout">
=======
                    <form method = "post" action = "/loginpage">
>>>>>>> f7ca2d3dadef07b2f2a910ab8968f3dc144a0a33
                        <input type = "submit" value = "Logout" class = "violet">
                    </form>
                    
                </li>
               
            </ul>
        </li>
        <p>

        </p>
        <p>
            
        </p>
        
        
    </ul>
   
    
<<<<<<< HEAD
</body>
=======
</body>
>>>>>>> f7ca2d3dadef07b2f2a910ab8968f3dc144a0a33
