<<<<<<< HEAD:Homepage.html
<!DOCTYPE html>

<body>
    <link rel = "stylesheet" href = "homepagestyles.css">
    <ul>
        <li>
            <label class = "title"> Homepage <br> </label>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
            <ul>
                <li>
                    <form method = "post" action = "NewFitnessInfo(HP)">
                        <input type = "submit" value  = "New Fitness Info" class = "green">
                    </form>
                    
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
                    <form method = "post" action = "/PastFitnessInfo">
                        <input type = "submit" value = "Past Fitness Info" class = "blue">
                    </form>
                    
                </li>
                <p>

                </p>
                <p>

                </p>
        
                <li>
                    <form method = "post" action = "/DeleteAcntPg">
                        <input type = "submit" value = "Delete Account" class = "red">
                    </form>
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
                    <form method = "post" action = "/loginpage">
                        <input type = "submit" value = "Logout" class = "violet">
                    </form>
                    
                </li>
               
            </ul>
        </li>
        <p>

        </p>
        <p>
            
        </p>
        
    </ul>
    
</body>
=======
<!DOCTYPE html>

<body>
    <link rel = "stylesheet" href = "homepagestyles.css">
    <ul>
        <li>
            <label class = "title"> Homepage <br> </label>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
            <ul>
                <li>
                    <form method = "post" action = "NewFitnessInfo(HP)">
                        <input type = "submit" value  = "New Fitness Info" class = "green">
                    </form>
                    
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
                    <form method = "post" action = "/PastFitnessInfo">
                        <input type = "submit" value = "Past Fitness Info" class = "blue">
                    </form>
                    
                </li>
                <p>

                </p>
                <p>

                </p>
        
                <li>
                    <form method = "post" action = "/DeleteAcntPg">
                        <input type = "submit" value = "Delete Account" class = "red">
                    </form>
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
                    <form method = "post" action = "/loginpage">
                        <input type = "submit" value = "Logout" class = "violet">
                    </form>
                    
                </li>
               
            </ul>
        </li>
        <p>

        </p>
        <p>
            
        </p>
        
        
    </ul>
   
    
</body>
>>>>>>> d5fa357fa7a537e87a26a7a3fc3278c500e4b8f7:views/home.ejs
