<!DOCTYPE html>

<body>
    <link rel = "stylesheet" href = "homepage-styles.css">
    <ul>
        <li>
            <label class = "title"> Home <br> </label>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
            <ul>
                <li>
                    <form method = "post" action = "new-fitness-info">
                        <input type = "submit" value  = "New Fitness Info" class = "green">
                           
                    </form>
                    
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
                    <form method = "post" action = "/past-fitness-info">
                        <input type = "submit" value = "Past Fitness Info" class = "blue">
                    </form>
                    
                </li>
                <p>

                </p>
                <p>

                </p>
        
                <li>
                    <form method = "post" action = "/delete-account">
                        <input type = "submit" value = "Delete Account" class = "red">
                    </form>
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
                    <form method = "post" action = "/login">
                        <input type = "submit" value = "Logout" class = "violet">
                    </form>
                    
                </li>
               
            </ul>
        </li>
        <p>

        </p>
        <p>
            
        </p>
        
        
    </ul>
   
    
</body>