<!DOCTYPE html>

<body>
    <link rel = "stylesheet" href = "homepage-styles.css">
    <ul>
        <li>
            <label class = "title"> Homepage <br> </label>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
            <ul>
                <li>
                    <button class = "green">
                        New Fitness <br> Info
                    </button>
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
                    <button class = "blue">
                        Past Fitness <br> Info
                    </button>
                </li>
                <p>

                </p>
                <p>

                </p>
        
                <li>
                    <button class = "red">
                        Delete Account
                    </label>
                </li>
                <p>

                </p>
                <p>

                </p>

                <li>
                    <button class = "violet">
                        Logout      
                    </button>
                </li>
               
            </ul>
        </li>
        <p>

        </p>
        <p>
            
        </p>
        
        
    </ul>
   
    
</body>






