<!DOCTYPE html>
<html lang = "en">
    <body>
        <link rel = "stylesheet" href = "fe-styles.css">
        
            <ul>
                <label class = "title"> Fitness Friend </label>
                <li> <label class = "sectitle"> Login </label> </li>
                <form method = "post" action = "/enterLogin">
                    <li class = "normaltext"> Username <input type = "text" name = "username" id = "username"> </li>
                    <p>
                    </p>
                    <li class = "normaltext"> Password <input type = "text" name = "username" id = "username"> </li>
                    <p>
    
                    </p>
                    <li>
                        <input type = "submit" value = "Login" class = "login-btn">
                    </li>
                    <p>
                </form>
                
                <p>
                    
                </p>
                <li>
                    <label class = "sectitle">Create Account</label>
                </li>
                <li class = "normaltext"> Enter Username <input type = "text" name = "username" id = "username"> </li>
                <p>
    
                </p>
                <li class = "normaltext"> Enter Password <input type = "text" name = "username" id = "username"> </li>
                <p>
    
                </p>
                <p>
    
                </p>
                <li>
                    <form method = "post" action = "/CreateAcntPg">
                        <input type = "submit" value = "Create Account" class = "login-btn">
                    </form>    
        
                </li>
    
            </ul>
        
    </body>
</html>