<!DOCTYPE html>

<body>
    <link rel = "stylesheet" href = "pfi-styles.css">
    <ul>
        <form method = "post" action = "/enterWorkout">
            <li>
                <label class = "title"> Insert Fitness Info <br> </label>
                <ul>
                    <li>
                        <label class = "sectitle">
                            Exercise Time (minutes):
                        </label>
                    </li>   
                    <li>
                        <input type = "text" name = "time" id = "time"> 
                    </li>
                    <li>
                        <label class = "sectitle">
                            Exercise Type:
                        </label>
                    </li>
                    <li>
                        <input type = "text" name = "type" id = "type">
                    </li>
                    <li>
                        <label class = "sectitle">
                            Exercise Date (MM/DD):
                        </label>
                    </li>
                    <li>
                        <input type = "text" name = "date" id = "date">
                    </li>
                </ul>
            </li>
        </form>
        <p>

        </p>
        <p>
            
        </p>
        <form method = "post" action = "enterWorkout">
            <input type = "submit" value  = "Enter Workout" class = "enter">
        </form>

        <p>

        </p>
        <form method = "post" action = "/returnHome">
            <input type = "submit" value = " Return to Home Page" class = "enter">
        </form>

        
    </ul>
   
    
</body>