<!DOCTYPE html>

<body>
    <link rel = "stylesheet" href = "pfi-styles.css">
    <ul>
        <li>
            <label class = "title"> Past Fitness Info <br> </label>
            <ul>
                <li>
                    <label class = "sectitle">
                        Exercise Time:
                    </label>
                </li>
                <li>
                    <input type = "text" name = "username" id = "username"> 
                </li>
                <li>
                    <label class = "sectitle">
                        Exercise Type
                    </label>
                </li>
                <li>
                    <input type = "text" name = "username" id = "username">
                </li>
                <li>
                    <label class = "sectitle">
                        Exercise Date
                    </label>
                </li>
                <li>
                    <input type = "text" name = "username" id = "username">
                </li>
            </ul>
        </li>
        <p>

        </p>
        <p>
            
        </p>
        <li>
            <button class = "enter">
                Enter Workout
        </button>
        </li>
        <p>

        </p>
        <form method = "post" action = "Homepage">
            <input type = "submit" value  = "Return to Homepage" class = "enter">
        </form>

        
    </ul>
   
    
</body>
