body {
    background-color: rgb(35, 34, 35);

    display: flex;

    justify-content: center;

    align-items: center;

    /*background-size: cover;*/
}

.title {
    font-size: 500%;
    text-align: center;
    letter-spacing: 3x;
    color: white;
}


.green {
    font-size: 300%;
    text-align: center;
    letter-spacing: 5x;
    background-color: rgb(115, 246, 0);
    border: 3px solid rgb(165, 160, 160);
    padding: 32px 16px;
    border-radius: 12px;
    
}

.blue {
    font-size: 300%;
    text-align: center;
    letter-spacing: 5x;
    background-color: rgb(24, 246, 249);
    border: 3px solid rgb(165, 160, 160);
    padding: 32px 16px;
    border-radius: 12px;
}

.red {
    font-size: 220%;
    text-align: center;
    letter-spacing: 5x;
    background-color: rgb(240, 18, 18);
    border: 3px solid rgb(165, 160, 160);
    padding: 12px 28px;
    border-radius: 12px;
}
.violet {
    font-size: 300%;
    text-align: center;
    letter-spacing: 15x;
    background-color: rgb(128, 12, 245);
    border: 3px solid rgb(165, 160, 160);
    padding: 12px 24px;
    border-radius: 24px;
}
